HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/audios/y2mate.com - La Oreja de Van Gogh   Rosas Letra.mp3
/src/main/resources/static/videos/WhatsApp Video 2024-10-01 at 19.03.43.mp4
/src/main/resources/firebase/techshop-3b4d9-firebase-adminsdk-ihqzw-c02bafd7a6.json
/src/main/resources/firebase/practica01-1403f-firebase-adminsdk-ior2s-53b4d14f75.json
