/* Selector de ID */
#tituloPrincipal{
    color: #9213e8;
    font-size: 50px;
}

.parrafoNegrita{
    font-weight: bold;
    color: darkgreen;
}

.parrafoEspecial{
    font-family: Comic Sans MS;
}

.prioridad{
    color: red;
}

.prioridad1{
    color: red;
}
/* Tiene prioridad el último que se agrega, de general a específico */
.prioridad2{
    color: purple;
}

p{
    word-spacing: 8px;
}

