<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>TechShop</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <section>
        <div class="container">
            <h2>Productos encontrados: <span th:text="${totalProductos}"></span></h2>
            <ul>
                <li th:each="producto : ${productos}">
                    <span th:text="${producto.nombre}"></span> - 
                    <span th:text="${producto.precio}"></span>
                </li>
            </ul>
            <div th:if="${#lists.isEmpty(productos)}">
                <p>No se encontraron productos para la categoría seleccionada.</p>
            </div>
        </div>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>       
</body>
</html>